<h1><%= @cat.name %></h1>

<ul>
  <li>Sex: <%= @cat.sex %></li>
  <li>Birth Date: <%= @cat.birth_date %></li>
  <li>Color: <%= @cat.color %></li>
  <li>Description: <%= @cat.description %></li>  
</ul>
